<!DOCTYPE html>
<html>

<head>
    <title>Borrow Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <h2>Borrow a Book</h2>
    <form method="POST">
        <input type="number" name="member_id" placeholder="Member ID" required><br><br>
        <input type="number" name="book_id" placeholder="Book ID" required><br><br>
        <button type="submit">Borrow</button>
    </form>
    <p><a href="{{ url_for('dashboard') }}">Back to Dashboard</a></p>
</body>

</html>